@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Web:</strong> <a href="http://zachmanor.com">ZachManor.com</a> <br />
    <strong>Email:</strong> <a href="mailto:pzachman@gmail.com">pzachman@gmail.com</a><br />
    <strong>Phone:</strong> 801-210-0587 <br />
</address>