@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Developer Assessment</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>User Web App Test</h2>
        <p>
            User Search is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Others</h2>
        <p>Here are some other apps or scripts I've made.</p>
        <p><a class="btn btn-default" href="http://zachmanor.com" target="_blank">Portfolio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>Want to know about me? Check out my LinkedIn</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/patrick-zachman" target="_blank">LinkedIn &raquo;</a></p>
    </div>
</div>